definition_version: 2
entities:
  streamlit_app:
    type: streamlit
    title: Custom Smoothie Order Form
    query_warehouse: COMPUTE_WH
    compute_pool: SYSTEM_COMPUTE_POOL_CPU
    main_file: SmoothieOrderForm.py
    artifacts:
      - pyproject.toml
      - SmoothieOrderForm.py
      - .streamlit/config.toml
